extends:
  eslint-config-airbnb

parser:
  babel-eslint

settings:
  ecmascript: 6
parserOptions:
  ecmaFeatures:
    jsx: true
    modules: true
    destructuring: true
    classes: true
    forOf: true
    blockBindings: true
    arrowFunctions: true

env:
  browser: true

rules:
  indent: 2
  func-style: 0
  func-names: 0
  comma-dangle: 0
  no-console: 0
  no-underscore-dangle: ["error", { "allow": ["_id"] }]
  max-len: ["error", 180, 4]
  no-param-reassign: 0
  linebreak-style: 0

globals:
  API_PATH: true
