.container
  height 200px
  background-color #113d92
  align-items center
  opacity 0.8
  color #ffffff
.rightColumn
  display flex
  flex 1
  flex-direction column
  font-size 32px
  align-items center
  justify-content flex-end
  padding-right 19px

.leftColumn
  display flex
.backConvert
  font-size 12px
